.container{
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background: white;
  backdrop-filter: blur(2rem);
  border-radius: 20px;
  font-size: 30px;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
}
span{
  margin-top: 20px;
}
